body {
  background: -webkit-linear-gradient(left top, #7B6D8D, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #7B6D8D, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #7B6D8D, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to obottom right, #7B6D8D, black); /* Standard syntax */
  height: 100vh;
}

iframe {
  display: block;
  margin: 0 auto;
  width: 70vw;
  height: 70vh;
  border: 2px solid white;
  border-radius: 5px;
}

h4  {
  text-align: center;
  color: white;
}

#function {
  margin-top: 7%;
  margin-bottom: 2%;
}
